ENVIRONMENT=development  # or "production"

# Vercel AI Gateway API Key
AI_GATEWAY_API_KEY=

# See https://vercel.com/ai-gateway/models for available models.
# The model must have vision capabilities.
AI_MODEL=openai/gpt-5-nano
